---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Jeanine White"
  description="About Jeanine White Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <!-- Hero -->
      <div class="relative overflow-hidden">
        <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
          <div class="max-w-2xl text-center mx-auto">
            <h1
              class="block text-3xl font-bold text-gray-800 sm:text-4xl md:text-5xl dark:text-white"
            >
              About the <span class="text-blue-800">Co-Creation</span> Toolkit
            </h1>
            <p class="mt-3 text-lg text-gray-800 dark:text-neutral-400">
				This toolkit provides the resources and guidance you need to create user-friendly environmental data services. Explore case studies, access UX templates, and learn how co-design can help you collaborate with users and build effective solutions.
            </p>
          </div>

        </div>
      </div>

      <section>

      </section>
      <section>

      </section>
      <section>

      </section>
    </main>

  </div>
</BaseLayout>

<!-- <style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style> -->
