---
import BaseLayout from "../layouts/BaseLayout.astro";

import Partners from "../components/Partners.astro";
import CoDesignDefinition from "../components/CoDesignDefinition.astro";
import WhyDidWeCreateThis from "../components/WhyDidWeCreateThis.astro";
import FAQ from "../components/FAQ.astro";
import CoDesignPrinciples from "../components/CoDesignPrinciples.astro";
import CommunityComponent from "../components/CommunityComponent.astro";
import GetInvolved from "../components/GetInvolved.astro";
import Hero from "../components/Hero.astro";

---

<BaseLayout
  title="About | Co-Creation Toolkit"
  description="About Co-Creation Toolkit"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <!-- Hero -->
      <Hero
        title="About the Co-Creation Toolkit"
        tagline="This toolkit provides the resources and guidance you need to create user-friendly environmental data services. Explore case studies, access UX templates, and learn how co-design can help you collaborate with users and build effective solutions."
        align="center"
      />

      <div class="wrapper stack gap-20 lg:gap-48 mt-32">

        <CoDesignDefinition />

        <WhyDidWeCreateThis />

        <CoDesignPrinciples />

        <CommunityComponent />
        
        <GetInvolved />

        <!-- <Partners /> -->

        <FAQ />

      </div>
    </main>
  </div>
</BaseLayout>
