---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import ToolkitPreview from "../components/ToolkitPreview.astro";
import FAQ from "../components/FAQ.astro";

const toolkitTools = (await getCollection("toolkit")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout title="Co-Creation Toolkit | BGS" description="A&D">
  <div class="stack gap-20 lg:gap-48">
    <main class="wrapper stack gap-8">
      <Hero
        title="Toolkit"
        tagline="Methods and tools categorised by common challenges in product and service development."
        align="center"
      />

      <!-- Features -->
      <div class="max-w-[100rem] py-6 mx-auto">
        <!-- Tab Nav -->
        <nav
          class="max-w-6xl mx-auto grid sm:flex gap-y-px sm:gap-y-0 sm:gap-x-4"
          aria-label="Tabs"
          role="tablist"
        >
          <button
            type="button"
            class="hs-tab-active:bg-blue-100 hs-tab-active:hover:border-transparent w-full flex flex-col text-start hover:bg-blue-50 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-800 dark:hover:bg-neutral-800 active"
            id="tabs-with-card-item-1"
            data-hs-tab="#tabs-with-card-1"
            aria-controls="tabs-with-card-1"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 hs-tab-active:text-blue-800 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"
              ></path><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"></path><path
                d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"></path><path
                d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"
              ></path><path
                d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"
              ></path></svg
            >
            <span class="mt-5">
              <span
                class="hs-tab-active:text-blue-800 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >User Research</span
              >
              <span
                class="hidden lg:block mt-2 text-gray-800 dark:text-neutral-200"
                >Methods and tools for understanding user needs, behaviors, and
                pain points.</span
              >
            </span>
          </button>

          <button
            type="button"
            class="hs-tab-active:bg-blue-100 hs-tab-active:hover:border-transparent w-full flex flex-col text-start hover:bg-blue-50 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-800 dark:hover:bg-neutral-800"
            id="tabs-with-card-item-2"
            data-hs-tab="#tabs-with-card-2"
            aria-controls="tabs-with-card-2"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 hs-tab-active:text-blue-800 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"
              ></path><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"></path><path
                d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"></path><path
                d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"
              ></path><path
                d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"
              ></path></svg
            >
            <span class="mt-5">
              <span
                class="hs-tab-active:text-blue-800 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >Design and Prototyping</span
              >
              <span
                class="hidden lg:block mt-2 text-gray-800 dark:text-neutral-200"
                >Techniques for visualising and creating interactive
                representations of data services and products.</span
              >
            </span>
          </button>

          <button
            type="button"
            class="hs-tab-active:bg-blue-100 hs-tab-active:hover:border-transparent w-full flex flex-col text-start hover:bg-blue-50 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-800 dark:hover:bg-neutral-800"
            id="tabs-with-card-item-3"
            data-hs-tab="#tabs-with-card-3"
            aria-controls="tabs-with-card-3"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 hs-tab-active:text-blue-800 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"
              ></path><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"></path><path
                d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"></path><path
                d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"
              ></path><path
                d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"
              ></path></svg
            >
            <span class="mt-5">
              <span
                class="hs-tab-active:text-blue-800 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >Evaluation and Testing</span
              >
              <span
                class="hidden lg:block mt-2 text-gray-800 dark:text-neutral-200"
                >Approaches for gathering feedback and assessing the usability
                and effectiveness of solutions.</span
              >
            </span>
          </button>

          <button
            type="button"
            class="hs-tab-active:bg-blue-100 hs-tab-active:hover:border-transparent w-full flex flex-col text-start hover:bg-blue-50 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-800 dark:hover:bg-neutral-800"
            id="tabs-with-card-item-5"
            data-hs-tab="#tabs-with-card-5"
            aria-controls="tabs-with-card-5"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 hs-tab-active:text-blue-800 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"
              ></path><path d="M5 3v4"></path><path d="M19 17v4"></path><path
                d="M3 5h4"></path><path d="M17 19h4"></path></svg
            >
            <span class="mt-5">
              <span
                class="hs-tab-active:text-blue-800 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >Collaboration and Engagement</span
              >
              <span
                class="hidden lg:block mt-2 text-gray-800 dark:text-neutral-200"
                >Methods for facilitating collaboration and communication among
                diverse stakeholders.</span
              >
            </span>
          </button>
        </nav>
        <!-- End Tab Nav -->

        <!-- Tab Content -->
        <div class="mt-12 md:mt-16">
          <div
            id="tabs-with-card-1"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-1"
          >
            <!-- Devices -->
            <div class="max-w-[1140px] lg:pb-32 relative">
              <!-- Mobile Device -->
              <!-- Group 1-->
              <div
                class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto bg-white rounded-[16px] shadow border border-black"
              >
                <header class="section-header stack pb-8">
                  <div>
                    <h3
                      class="text-xl font-bold md:text-3xl md:leading-tight dark:text-white"
                    >
                      User Research
                    </h3>
                </header>

                <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
                  <!-- Card -->
                  {toolkitTools
                    .filter(tool => tool.data.category === "User Research")
                    .map((tool) => (
                      <ToolkitPreview project ={tool} />
                  ))}
                  <!-- End Card -->
                </div>

              </div>
            </div>
          </div>

          <div
            id="tabs-with-card-2"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-2"
          >
            <!-- Devices -->
            <div class="max-w-[1140px] lg:pb-32 relative">
              <!-- start content -->
              <!-- Group 2-->
              <div
                class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto bg-white rounded-[16px] shadow border border-black"
              >
                <header class="section-header stack pb-8">
                  <h3
                    class="text-xl font-bold md:text-3xl md:leading-tight dark:text-white"
                  >
                    Design and Prototyping
                  </h3>
                </header>

                <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
                  <!-- Card -->
                  {toolkitTools
                    .filter(tool => tool.data.category === "Design and Prototyping")
                    .map((tool) => (
                      <ToolkitPreview project ={tool} />
                  ))}
                  <!-- End Card -->
                </div>

              </div>
            </div>
          </div>

          <div
            id="tabs-with-card-3"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-3"
          >
            <!-- Devices -->
            <div class="max-w-[1140px] lg:pb-32 relative">
              <!-- start -->
        <!-- Group 3-->
        <div
          class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto bg-white rounded-[16px] shadow border border-black"
        >
          <header class="section-header stack pb-8">
            <h3
              class="text-xl font-bold md:text-3xl md:leading-tight dark:text-white"
            >
              Evaluation and Testing
            </h3>
          </header>

          <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
            <!-- Card -->
            {toolkitTools
              .filter(tool => tool.data.category === "Evaluation")
              .map((tool) => (
                <ToolkitPreview project ={tool} />
            ))}
            <!-- End Card -->
          </div>


        </div>
            </div>
          </div>

          <div
            id="tabs-with-card-5"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-5"
          >
            <!-- Devices -->
            <div class="max-w-[1140px] lg:pb-32 relative">
              <!-- start -->
                       <!-- Group 5-->
        <div
        class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto bg-white rounded-[16px] shadow border border-black"
      >
        <header class="section-header stack pb-8">
          <h3
            class="text-xl font-bold md:text-3xl md:leading-tight dark:text-white"
          >
            Collaboration and Engagement
          </h3>

        </header>

        <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
          <!-- Card -->
          {toolkitTools
            .filter(tool => tool.data.category === "Collaboration")
            .map((tool) => (
              <ToolkitPreview project ={tool} />
          ))}
          <!-- End Card -->
        </div>


      </div>
              <!-- End  -->
            </div>
            <!-- End Devices -->
          </div>
        </div>
        <!-- End Tab Content -->
      </div>
      <!-- End Features -->

    </main>

    <FAQ />

  </div>
</BaseLayout>
