---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";

const projects = (await getCollection("case-studies")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout title="Co-Creation Toolkit | BGS" description="A&D">
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="Toolkit"
        tagline="Methods and tools categorised by common challenges in product and service development."
        align="center"
      />

      <!-- Features -->
      <div class="max-w-[100rem] py-6 mx-auto">
        <!-- Tab Nav -->
        <nav
          class="max-w-6xl mx-auto grid sm:flex gap-y-px sm:gap-y-0 sm:gap-x-4"
          aria-label="Tabs"
          role="tablist"
        >
          <button
            type="button"
            class="hs-tab-active:bg-blue-100 hs-tab-active:hover:border-transparent w-full flex flex-col text-start hover:bg-blue-50 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-800 dark:hover:bg-neutral-800 active"
            id="tabs-with-card-item-1"
            data-hs-tab="#tabs-with-card-1"
            aria-controls="tabs-with-card-1"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 hs-tab-active:text-blue-800 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"
              ></path><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"></path><path
                d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"></path><path
                d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"
              ></path><path
                d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"
              ></path></svg
            >
            <span class="mt-5">
              <span
                class="hs-tab-active:text-blue-800 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >User Research</span
              >
              <span
                class="hidden lg:block mt-2 text-gray-800 dark:text-neutral-200"
                >Methods and tools for understanding user needs, behaviors, and
                pain points.</span
              >
            </span>
          </button>

          <button
            type="button"
            class="hs-tab-active:bg-blue-100 hs-tab-active:hover:border-transparent w-full flex flex-col text-start hover:bg-blue-50 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-800 dark:hover:bg-neutral-800"
            id="tabs-with-card-item-2"
            data-hs-tab="#tabs-with-card-2"
            aria-controls="tabs-with-card-2"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 hs-tab-active:text-blue-800 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"
              ></path><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"></path><path
                d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"></path><path
                d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"
              ></path><path
                d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"
              ></path></svg
            >
            <span class="mt-5">
              <span
                class="hs-tab-active:text-blue-800 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >Design and Prototyping</span
              >
              <span
                class="hidden lg:block mt-2 text-gray-800 dark:text-neutral-200"
                >Techniques for visualising and creating interactive
                representations of data services and products.</span
              >
            </span>
          </button>

          <button
            type="button"
            class="hs-tab-active:bg-blue-100 hs-tab-active:hover:border-transparent w-full flex flex-col text-start hover:bg-blue-50 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-800 dark:hover:bg-neutral-800"
            id="tabs-with-card-item-3"
            data-hs-tab="#tabs-with-card-3"
            aria-controls="tabs-with-card-3"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 hs-tab-active:text-blue-800 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"
              ></path><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"></path><path
                d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"></path><path
                d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"
              ></path><path
                d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"
              ></path></svg
            >
            <span class="mt-5">
              <span
                class="hs-tab-active:text-blue-800 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >Evaluation and Testing</span
              >
              <span
                class="hidden lg:block mt-2 text-gray-800 dark:text-neutral-200"
                >Approaches for gathering feedback and assessing the usability
                and effectiveness of solutions.</span
              >
            </span>
          </button>

          <button
            type="button"
            class="hs-tab-active:bg-blue-100 hs-tab-active:hover:border-transparent w-full flex flex-col text-start hover:bg-blue-50 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-800 dark:hover:bg-neutral-800"
            id="tabs-with-card-item-5"
            data-hs-tab="#tabs-with-card-5"
            aria-controls="tabs-with-card-5"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 hs-tab-active:text-blue-800 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"
              ></path><path d="M5 3v4"></path><path d="M19 17v4"></path><path
                d="M3 5h4"></path><path d="M17 19h4"></path></svg
            >
            <span class="mt-5">
              <span
                class="hs-tab-active:text-blue-800 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >Collaboration and Engagement</span
              >
              <span
                class="hidden lg:block mt-2 text-gray-800 dark:text-neutral-200"
                >Methods for facilitating collaboration and communication among
                diverse stakeholders.</span
              >
            </span>
          </button>
        </nav>
        <!-- End Tab Nav -->

        <!-- Tab Content -->
        <div class="mt-12 md:mt-16">
          <div
            id="tabs-with-card-1"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-1"
          >
            <!-- Devices -->
            <div class="max-w-[1140px] lg:pb-32 relative">
              <!-- Mobile Device -->
              <!-- Group 1-->
              <div
                class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto bg-white rounded-[16px] shadow border border-black"
              >
                <header class="section-header stack pb-8">
                  <div>
                    <h3
                      class="text-xl font-bold md:text-3xl md:leading-tight dark:text-white"
                    >
                      User Research
                    </h3>
                    <!-- <p>
                      Methods and tools for understanding user needs, behaviors,
                      and pain points.
                    </p>
                  </div>
                  <img
                    alt="Co-Creation Toolkit team illustration"
                    width="100%"
                    height="auto"
                    class="py-8"
                    src="/co-creation-toolkit/assets/illustrations/user-engagement.svg"
                  /> -->
                </header>
                <!-- Grid -->
                <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
                  <!-- Card -->
                  <a class="group rounded-xl overflow-hidden" href="#">
                    <div class="sm:flex">
                      <div
                        class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                      >
                        <img
                          class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                          src="https://images.unsplash.com/photo-1540575861501-7cf05a4b125a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                          alt="Image Description"
                        />
                      </div>

                      <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                        <h3
                          class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                        >
                          Studio by Preline
                        </h3>
                        <p class="mt-3 text-gray-600 dark:text-neutral-400">
                          Produce professional, reliable streams easily
                          leveraging Preline's innovative broadcast studio
                        </p>
                        <p
                          class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                        >
                          Read more
                          <svg
                            class="flex-shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="m9 18 6-6-6-6"></path></svg
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                  <!-- End Card -->

                  <!-- Card -->
                  <a class="group rounded-xl overflow-hidden" href="#">
                    <div class="sm:flex">
                      <div
                        class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                      >
                        <img
                          class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                          src="https://images.unsplash.com/photo-1668906093328-99601a1aa584?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80"
                          alt="Image Description"
                        />
                      </div>

                      <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                        <h3
                          class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                        >
                          Onsite
                        </h3>
                        <p class="mt-3 text-gray-600 dark:text-neutral-400">
                          Optimize your in-person experience with best-in-class
                          capabilities like badge printing and lead retrieval
                        </p>
                        <p
                          class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                        >
                          Read more
                          <svg
                            class="flex-shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="m9 18 6-6-6-6"></path></svg
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                  <!-- End Card -->

                  <!-- Card -->
                  <a class="group rounded-xl overflow-hidden" href="#">
                    <div class="sm:flex">
                      <div
                        class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                      >
                        <img
                          class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                          src="https://images.unsplash.com/photo-1567016526105-22da7c13161a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                          alt="Image Description"
                        />
                      </div>

                      <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                        <h3
                          class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                        >
                          The complete guide to OKRs
                        </h3>
                        <p class="mt-3 text-gray-600 dark:text-neutral-400">
                          How to make objectives and key results work for your
                          company
                        </p>
                        <p
                          class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                        >
                          Read more
                          <svg
                            class="flex-shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="m9 18 6-6-6-6"></path></svg
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                  <!-- End Card -->

                  <!-- Card -->
                  <a class="group rounded-xl overflow-hidden" href="#">
                    <div class="sm:flex">
                      <div
                        class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                      >
                        <img
                          class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                          src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                          alt="Image Description"
                        />
                      </div>

                      <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                        <h3
                          class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                        >
                          People program models
                        </h3>
                        <p class="mt-3 text-gray-600 dark:text-neutral-400">
                          Six approaches to bringing your People strategy to
                          life
                        </p>
                        <p
                          class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                        >
                          Read more
                          <svg
                            class="flex-shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="m9 18 6-6-6-6"></path></svg
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                  <!-- End Card -->
                </div>
              </div>

              <!-- End Browser Device -->
            </div>
            <!-- End Devices -->
          </div>

          <div
            id="tabs-with-card-2"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-2"
          >
            <!-- Devices -->
            <div class="max-w-[1140px] lg:pb-32 relative">
              <!-- start content -->
              <!-- Group 2-->
              <div
                class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto bg-white rounded-[16px] shadow border border-black"
              >
                <header class="section-header stack pb-8">
                  <h3
                    class="text-xl font-bold md:text-3xl md:leading-tight dark:text-white"
                  >
                    Design and Prototyping
                  </h3>
                  <!-- <p>
                    Techniques for visualising and creating interactive
                    representations of data services and products.
                  </p>
                  <img
                    alt="Co-Creation Toolkit team illustration"
                    width="100%"
                    height="auto"
                    class="py-8"
                    src="/co-creation-toolkit/assets/illustrations/choosing.svg"
                  /> -->
                </header>
                <!-- Grid -->
                <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
                  <!-- Card -->
                  <a class="group rounded-xl overflow-hidden" href="#">
                    <div class="sm:flex">
                      <div
                        class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                      >
                        <img
                          class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                          src="https://images.unsplash.com/photo-1540575861501-7cf05a4b125a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                          alt="Image Description"
                        />
                      </div>

                      <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                        <h3
                          class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                        >
                          Studio by Preline
                        </h3>
                        <p class="mt-3 text-gray-600 dark:text-neutral-400">
                          Produce professional, reliable streams easily
                          leveraging Preline's innovative broadcast studio
                        </p>
                        <p
                          class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                        >
                          Read more
                          <svg
                            class="flex-shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="m9 18 6-6-6-6"></path></svg
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                  <!-- End Card -->

                  <!-- Card -->
                  <a class="group rounded-xl overflow-hidden" href="#">
                    <div class="sm:flex">
                      <div
                        class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                      >
                        <img
                          class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                          src="https://images.unsplash.com/photo-1668906093328-99601a1aa584?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80"
                          alt="Image Description"
                        />
                      </div>

                      <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                        <h3
                          class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                        >
                          Onsite
                        </h3>
                        <p class="mt-3 text-gray-600 dark:text-neutral-400">
                          Optimize your in-person experience with best-in-class
                          capabilities like badge printing and lead retrieval
                        </p>
                        <p
                          class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                        >
                          Read more
                          <svg
                            class="flex-shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="m9 18 6-6-6-6"></path></svg
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                  <!-- End Card -->

                  <!-- Card -->
                  <a class="group rounded-xl overflow-hidden" href="#">
                    <div class="sm:flex">
                      <div
                        class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                      >
                        <img
                          class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                          src="https://images.unsplash.com/photo-1567016526105-22da7c13161a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                          alt="Image Description"
                        />
                      </div>

                      <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                        <h3
                          class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                        >
                          The complete guide to OKRs
                        </h3>
                        <p class="mt-3 text-gray-600 dark:text-neutral-400">
                          How to make objectives and key results work for your
                          company
                        </p>
                        <p
                          class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                        >
                          Read more
                          <svg
                            class="flex-shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="m9 18 6-6-6-6"></path></svg
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                  <!-- End Card -->

                  <!-- Card -->
                  <a class="group rounded-xl overflow-hidden" href="#">
                    <div class="sm:flex">
                      <div
                        class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                      >
                        <img
                          class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                          src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                          alt="Image Description"
                        />
                      </div>

                      <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                        <h3
                          class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                        >
                          People program models
                        </h3>
                        <p class="mt-3 text-gray-600 dark:text-neutral-400">
                          Six approaches to bringing your People strategy to
                          life
                        </p>
                        <p
                          class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                        >
                          Read more
                          <svg
                            class="flex-shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="m9 18 6-6-6-6"></path></svg
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                  <!-- End Card -->
                </div>
              </div>
              <!-- End -->
            </div>
            <!-- End Devices -->
          </div>

          <div
            id="tabs-with-card-3"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-3"
          >
            <!-- Devices -->
            <div class="max-w-[1140px] lg:pb-32 relative">
              <!-- start -->
        <!-- Group 3-->
        <div
          class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto bg-white rounded-[16px] shadow border border-black"
        >
          <header class="section-header stack pb-8">
            <h3
              class="text-xl font-bold md:text-3xl md:leading-tight dark:text-white"
            >
              Evaluation and Testing
            </h3>
            <!-- <p>
              Approaches for gathering feedback and assessing the usability and
              effectiveness of solutions.
            </p>
            <img
              alt="Co-Creation Toolkit team illustration"
              width="100%"
              height="auto"
              class="py-8"
              src="/co-creation-toolkit/assets/illustrations/challenges.svg"
            /> -->
          </header>
          <!-- Grid -->
          <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
            <!-- Card -->
            <a class="group rounded-xl overflow-hidden" href="#">
              <div class="sm:flex">
                <div
                  class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                >
                  <img
                    class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                    src="https://images.unsplash.com/photo-1540575861501-7cf05a4b125a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="Image Description"
                  />
                </div>

                <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                  <h3
                    class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                  >
                    Studio by Preline
                  </h3>
                  <p class="mt-3 text-gray-600 dark:text-neutral-400">
                    Produce professional, reliable streams easily leveraging
                    Preline's innovative broadcast studio
                  </p>
                  <p
                    class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                  >
                    Read more
                    <svg
                      class="flex-shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </p>
                </div>
              </div>
            </a>
            <!-- End Card -->

            <!-- Card -->
            <a class="group rounded-xl overflow-hidden" href="#">
              <div class="sm:flex">
                <div
                  class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                >
                  <img
                    class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                    src="https://images.unsplash.com/photo-1668906093328-99601a1aa584?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80"
                    alt="Image Description"
                  />
                </div>

                <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                  <h3
                    class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                  >
                    Onsite
                  </h3>
                  <p class="mt-3 text-gray-600 dark:text-neutral-400">
                    Optimize your in-person experience with best-in-class
                    capabilities like badge printing and lead retrieval
                  </p>
                  <p
                    class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                  >
                    Read more
                    <svg
                      class="flex-shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </p>
                </div>
              </div>
            </a>
            <!-- End Card -->

            <!-- Card -->
            <a class="group rounded-xl overflow-hidden" href="#">
              <div class="sm:flex">
                <div
                  class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                >
                  <img
                    class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                    src="https://images.unsplash.com/photo-1567016526105-22da7c13161a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                    alt="Image Description"
                  />
                </div>

                <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                  <h3
                    class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                  >
                    The complete guide to OKRs
                  </h3>
                  <p class="mt-3 text-gray-600 dark:text-neutral-400">
                    How to make objectives and key results work for your company
                  </p>
                  <p
                    class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                  >
                    Read more
                    <svg
                      class="flex-shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </p>
                </div>
              </div>
            </a>
            <!-- End Card -->

            <!-- Card -->
            <a class="group rounded-xl overflow-hidden" href="#">
              <div class="sm:flex">
                <div
                  class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
                >
                  <img
                    class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                    src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="Image Description"
                  />
                </div>

                <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                  <h3
                    class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                  >
                    People program models
                  </h3>
                  <p class="mt-3 text-gray-600 dark:text-neutral-400">
                    Six approaches to bringing your People strategy to life
                  </p>
                  <p
                    class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                  >
                    Read more
                    <svg
                      class="flex-shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      ><path d="m9 18 6-6-6-6"></path></svg
                    >
                  </p>
                </div>
              </div>
            </a>
            <!-- End Card -->
          </div>
        </div>
              <!-- End  -->
            </div>
            <!-- End Devices -->
          </div>

          <div
            id="tabs-with-card-5"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-5"
          >
            <!-- Devices -->
            <div class="max-w-[1140px] lg:pb-32 relative">
              <!-- start -->
                       <!-- Group 5-->
        <div
        class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto bg-white rounded-[16px] shadow border border-black"
      >
        <header class="section-header stack pb-8">
          <h3
            class="text-xl font-bold md:text-3xl md:leading-tight dark:text-white"
          >
            Collaboration and Engagement
          </h3>
          <!-- <p>
            Methods for facilitating collaboration and communication among
            diverse stakeholders.
          </p>
          <img
            alt="Co-Creation Toolkit team illustration"
            width="100%"
            height="auto"
            class="py-8"
            src="/co-creation-toolkit/assets/illustrations/requirements.svg"
          /> -->
        </header>
        <!-- Grid -->
        <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
          <!-- Card -->
          <a class="group rounded-xl overflow-hidden" href="#">
            <div class="sm:flex">
              <div
                class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
              >
                <img
                  class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                  src="https://images.unsplash.com/photo-1540575861501-7cf05a4b125a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="Image Description"
                />
              </div>

              <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                <h3
                  class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                >
                  Studio by Preline
                </h3>
                <p class="mt-3 text-gray-600 dark:text-neutral-400">
                  Produce professional, reliable streams easily leveraging
                  Preline's innovative broadcast studio
                </p>
                <p
                  class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                >
                  Read more
                  <svg
                    class="flex-shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path d="m9 18 6-6-6-6"></path></svg
                  >
                </p>
              </div>
            </div>
          </a>
          <!-- End Card -->

          <!-- Card -->
          <a class="group rounded-xl overflow-hidden" href="#">
            <div class="sm:flex">
              <div
                class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
              >
                <img
                  class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                  src="https://images.unsplash.com/photo-1668906093328-99601a1aa584?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80"
                  alt="Image Description"
                />
              </div>

              <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                <h3
                  class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                >
                  Onsite
                </h3>
                <p class="mt-3 text-gray-600 dark:text-neutral-400">
                  Optimize your in-person experience with best-in-class
                  capabilities like badge printing and lead retrieval
                </p>
                <p
                  class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                >
                  Read more
                  <svg
                    class="flex-shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path d="m9 18 6-6-6-6"></path></svg
                  >
                </p>
              </div>
            </div>
          </a>
          <!-- End Card -->

          <!-- Card -->
          <a class="group rounded-xl overflow-hidden" href="#">
            <div class="sm:flex">
              <div
                class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
              >
                <img
                  class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                  src="https://images.unsplash.com/photo-1567016526105-22da7c13161a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                  alt="Image Description"
                />
              </div>

              <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                <h3
                  class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                >
                  The complete guide to OKRs
                </h3>
                <p class="mt-3 text-gray-600 dark:text-neutral-400">
                  How to make objectives and key results work for your company
                </p>
                <p
                  class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                >
                  Read more
                  <svg
                    class="flex-shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path d="m9 18 6-6-6-6"></path></svg
                  >
                </p>
              </div>
            </div>
          </a>
          <!-- End Card -->

          <!-- Card -->
          <a class="group rounded-xl overflow-hidden" href="#">
            <div class="sm:flex">
              <div
                class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
              >
                <img
                  class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
                  src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="Image Description"
                />
              </div>

              <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
                <h3
                  class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-neutral-300 dark:group-hover:text-white"
                >
                  People program models
                </h3>
                <p class="mt-3 text-gray-600 dark:text-neutral-400">
                  Six approaches to bringing your People strategy to life
                </p>
                <p
                  class="mt-4 inline-flex items-center gap-x-1 text-blue-800 decoration-2 hover:underline font-medium"
                >
                  Read more
                  <svg
                    class="flex-shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path d="m9 18 6-6-6-6"></path></svg
                  >
                </p>
              </div>
            </div>
          </a>
          <!-- End Card -->
        </div>
      </div>
              <!-- End  -->
            </div>
            <!-- End Devices -->
          </div>
        </div>
        <!-- End Tab Content -->
      </div>
      <!-- End Features -->

    </main>
  </div>
</BaseLayout>
