---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import ToolkitPreview from "../components/ToolkitPreview.astro";
import FAQ from "../components/FAQ.astro";
import CoCreationMethodsList from "../components/CoCreationMethodsList.astro";

const toolkitTools = (await getCollection("toolkit")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout title="Co-Creation Toolkit | BGS" description="A&D">
  <div class="stack gap-20 lg:gap-48">
    <main class="wrapper stack gap-8">
      <Hero
        title="Toolkit"
        tagline="Tools for common challenges in environmental data product design."
        align="center"
      />

      <!-- Features -->
      <div class="max-w-[100rem] py-6 mx-auto">
        <!-- Tab Nav -->
        <nav
          class="max-w-6xl mx-auto grid sm:flex gap-y-px sm:gap-y-0 sm:gap-x-4"
          aria-label="Tabs"
          role="tablist"
        >

          <!-- Collaboration and engagement -->
          <button
            type="button"
            class="hs-tab-active:border-black border border-transparent w-full md:flex md:flex-col text-start p-3 md:p-5 rounded-xl dark:hover:bg-neutral-800 hs-tab-active:shadow hs-tab-active:border active"
            id="tabs-with-card-item-5"
            data-hs-tab="#tabs-with-card-5"
            aria-controls="tabs-with-card-5"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"
              ></path><path d="M5 3v4"></path><path d="M19 17v4"></path><path
                d="M3 5h4"></path><path d="M17 19h4"></path></svg
            >
            <span class="mt-5">
              <span
                class="block font-semibold dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >Collaboration and Engagement</span
              >
              <span
                class="hidden lg:block mt-2 dark:text-black"
                >Methods for facilitating collaboration and communication among
                diverse stakeholders.</span
              >
            </span>
          </button>

          <!-- User Research -->
          <button
            type="button"
            class="hs-tab-active:border-black border border-transparent w-full md:flex md:flex-col text-start p-3 md:p-5 rounded-xl dark:hover:bg-neutral-800 hs-tab-active:shadow hs-tab-active:border"
            id="tabs-with-card-item-1"
            data-hs-tab="#tabs-with-card-1"
            aria-controls="tabs-with-card-1"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              >
              <circle cx="9" cy="9" r="4"></circle>
              <path d="M12.5 10a4 4 0 1 0 0-2"></path>
              <path d="M3 21v-2a4 4 0 0 1 4-4h4"></path>
              <path d="M21 21v-2a4 4 0 0 0-4-4h-4"></path>
              </svg
            >
            <span class="mt-5">
              <span
                class="block font-semibold dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >User Research</span
              >
              <span
                class="hidden lg:block mt-2"
                >Methods and tools for understanding user needs, behaviors, and
                pain points.</span
              >
            </span>
          </button>

          <!-- Design and prototyping -->
          <button
            type="button"
            class="hs-tab-active:border-black border border-transparent w-full md:flex md:flex-col text-start p-3 md:p-5 rounded-xl dark:hover:bg-neutral-800 hs-tab-active:shadow hs-tab-active:border"
            id="tabs-with-card-item-2"
            data-hs-tab="#tabs-with-card-2"
            aria-controls="tabs-with-card-2"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              >
              <path d="M3 3v18h18" />
              <path d="M7 12v5" />
              <path d="M11 8v9" />
              <path d="M15 12v5" />
              <path d="M19 8v9" />
              <path d="M3 8h16" />
              <circle cx="7" cy="8" r="1" />
              <circle cx="11" cy="4" r="1" />
              <circle cx="15" cy="8" r="1" />
              <circle cx="19" cy="4" r="1" />
              </svg
            >
            <span class="mt-5">
              <span
                class="block font-semibold dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >Design and Prototyping</span
              >
              <span
                class="hidden lg:block mt-2"
                >Techniques for visualising and creating interactive
                representations of data services and products.</span
              >
            </span>
          </button>

          <!-- Evaluation and testing -->
          <button
            type="button"
            class="hs-tab-active:border-black border border-transparent w-full md:flex md:flex-col text-start p-3 md:p-5 rounded-xl dark:hover:bg-neutral-800 hs-tab-active:shadow hs-tab-active:border"
            id="tabs-with-card-item-3"
            data-hs-tab="#tabs-with-card-3"
            aria-controls="tabs-with-card-3"
            role="tab"
          >
            <svg
              class="flex-shrink-0 hidden sm:block size-7 dark:hs-tab-active:text-blue-500 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              >
              <path d="M9 11l3 3L22 4"></path>
              <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
              <circle cx="9" cy="9" r="2"></circle>
              <circle cx="9" cy="15" r="2"></circle>
              <circle cx="15" cy="15" r="2"></circle>
              </svg
            >
            <span class="mt-5">
              <span
                class="block font-semibold dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
                >Evaluation and Testing</span
              >
              <span
                class="hidden lg:block mt-2"
                >Approaches for gathering feedback and assessing the usability
                and effectiveness of solutions.</span
              >
            </span>
          </button>


        </nav>
        <!-- End Tab Nav -->

        <!-- Tab Content -->
        <div class="mt-12 md:mt-16">
          <div
            id="tabs-with-card-1"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-1"
          >
            <!-- Devices -->
            <div class="max-w-[1140px]  relative">
              <!-- Mobile Device -->
              <!-- Group 1-->
              <div
                class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto rounded-[16px] shadow border border-black"
              >
                <header class="section-header stack pb-8">
                  <div>
                    <h3
                      class="text-xl font-bold md:text-3xl md:leading-tight dark:text-black"
                    >
                      User Research
                    </h3>
                </header>

                <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
                  <!-- Card -->
                  {toolkitTools
                    .filter(tool => tool.data.category.includes("User Research"))
                    .map((tool) => (
                      <ToolkitPreview project = {tool} />
                  ))}
                  <!-- End Card -->
                </div>

              </div>
            </div>
          </div>

          <div
            id="tabs-with-card-2"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-2"
          >
            <!-- Devices -->
            <div class="max-w-[1140px]  relative">
              <!-- start content -->
              <!-- Group 2-->
              <div
                class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto rounded-[16px] shadow border border-black"
              >
                <header class="section-header stack pb-8">
                  <h3
                    class="text-xl font-bold md:text-3xl md:leading-tight dark:text-black"
                  >
                    Design and Prototyping
                  </h3>
                </header>

                <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
                  <!-- Card -->
                  {toolkitTools
                    .filter(tool => tool.data.category.includes("Design and Prototyping"))
                    .map((tool) => (
                      <ToolkitPreview project = {tool} />
                  ))}
                  <!-- End Card -->
                </div>

              </div>
            </div>
          </div>

          <div
            id="tabs-with-card-3"
            class="hidden"
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-3"
          >
            <!-- Devices -->
            <div class="max-w-[1140px]  relative">
              <!-- start -->
        <!-- Group 3-->
        <div
          class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto rounded-[16px] shadow border border-black"
        >
          <header class="section-header stack pb-8">
            <h3
              class="text-xl font-bold md:text-3xl md:leading-tight dark:text-black"
            >
              Evaluation and Testing
            </h3>
          </header>

          <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
            <!-- Card -->
            {toolkitTools
              .filter(tool => tool.data.category.includes("Evaluation"))
              .map((tool) => (
                <ToolkitPreview project = {tool} />
            ))}
            <!-- End Card -->
          </div>


        </div>
            </div>
          </div>

          <div
            id="tabs-with-card-5"
            class=""
            role="tabpanel"
            aria-labelledby="tabs-with-card-item-5"
          >
            <!-- Devices -->
            <div class="max-w-[1140px]  relative">
              <!-- start -->
                       <!-- Group 5-->
        <div
        class="max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 lg:py-8 mx-auto rounded-[16px] shadow border border-black"
      >
        <header class="section-header stack pb-8">
          <h3
            class="text-xl font-bold md:text-3xl md:leading-tight dark:text-black"
          >
            Collaboration and Engagement
          </h3>

        </header>

        <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
          <!-- Card -->
          {toolkitTools
            .filter(tool => tool.data.category.includes("Collaboration"))
            .map((tool) => (
              <ToolkitPreview project = {tool} />
          ))}
          <!-- End Card -->
        </div>


      </div>
              <!-- End  -->
            </div>
            <!-- End Devices -->
          </div>
        </div>
        <!-- End Tab Content -->
      </div>
      <!-- End Features -->

    </main>

    <!-- <CoCreationMethodsList /> -->

    <FAQ />

  </div>
</BaseLayout>
