<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="aspect-w-16 aspect-h-7">
    <img
      class="w-full object-cover rounded-xl max-h-72"
      src="/co-creation-toolkit/assets/photos/pexels-jakubzerdzicki-29521529-min.jpg"
      alt="Image Description"
    />
  </div>

  <!-- Grid -->
  <div class="mt-5 lg:mt-16 grid lg:grid-cols-3 gap-8 lg:gap-12">
    <div class="lg:col-span-1">
      <h2
        class="font-bold text-2xl md:text-3xl dark:text-neutral-200"
      >
        Contribute to the Co-Creation Toolkit
      </h2>
      <p class="mt-2 md:mt-4 dark:text-neutral-500">
        This toolkit is a collaborative effort, and we welcome your
        contributions! Help us make environmental data tools and services better
        for everyone.
      </p>
      <!-- <p class="mt-2 md:mt-4 text-gray-500 dark:text-neutral-500">
        You can find more details how to contribute to this toolkit on our
        GitHub page here: <a
          href="https://pautva.github.io/co-creation-toolkit/"
          class="hover:underline focus:underline decoration-2"
          target="_blank">https://pautva.github.io/co-creation-toolkit/</a
        >
      </p> -->
    </div>
    <!-- End Col -->

    <div class="lg:col-span-2">
      <div class="grid sm:grid-cols-2 gap-8 md:gap-12">
        <!-- Icon Block -->
        <div class="flex gap-x-5">
          <svg
            class="shrink-0 mt-1 size-6 text-blue-600 dark:text-blue-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle
              cx="9"
              cy="7"
              r="4"></circle><path d="M22 21v-2a4 4 0 0 0-3-3.87"></path><path
              d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg
          >
          <div class="grow">
            <h3 class="text-lg font-semibold dark:text-white">
              Share Case Studies
            </h3>
            <p class="mt-1 dark:text-neutral-400">
              Share co-design applications in environmental data projects.
              Inspire others with your real-world examples.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5">
          <svg
            class="shrink-0 mt-1 size-6 text-blue-600 dark:text-blue-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path
              d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg
          >
          <div class="grow">
            <h3 class="text-lg font-semibold dark:text-white">
              Add Toolkit Resources
            </h3>
            <p class="mt-1 dark:text-neutral-400">
              Contribute templates, guides, or documents to help others use
              co-design and UX best practices.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5">
          <svg
            class="shrink-0 mt-1 size-6 text-blue-600 dark:text-blue-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="M7 10v12"></path><path
              d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"
            ></path></svg
          >
          <div class="grow">
            <h3 class="text-lg font-semibold dark:text-white">
              Suggest Improvements / Provide Feedback
            </h3>
            <p class="mt-1 dark:text-neutral-400">
              Be part of the EDS Co-Creation Toolkit community! Discuss, ask
              questions, and suggest topics on our <a
                href="https://github.com/NERC-EDS/co-creation-toolkit/discussions"
                class="hover:underline focus:underline decoration-2"
                target="_blank">GitHub Discussions page</a
              >.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5">
          <svg
            class="shrink-0 mt-1 size-6 text-blue-600 dark:text-blue-500"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><rect width="18" height="10" x="3" y="11" rx="2"></rect><circle
              cx="12"
              cy="5"
              r="2"></circle><path d="M12 7v4"></path><line
              x1="8"
              x2="8"
              y1="16"
              y2="16"></line><line x1="16" x2="16" y1="16" y2="16"></line></svg
          >
          <div class="grow">
            <h3 class="text-lg font-semibold dark:text-white">
              Report Bugs
            </h3>
            <p class="mt-1 dark:text-neutral-400">
              Found an issue? Let us know!
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->
