<section>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/ukgeos-brochure.png"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/carbon-footprint-poster.png"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/informatics-intrant-home.png"
          alt=""
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/labs-data-workflow-min.png"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/digital-mapping.png"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/digital-ags-workflow.png"
          alt=""
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/screenshot-met4tech-2.png"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/vdr-prototype.png"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/Sprint-Schedule.png"
          alt=""
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/lims-jobs.png"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/informatics-structure.png"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="/analysis-and-design-portfolio/assets/design/digital-mapping-2.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
