<!-- Icon Blocks -->
<div id="how-to-get-involved" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- heading start -->
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p
        class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400"
      >
        Co-Creation Toolkit
      </p>
    </div>
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">
      <span class="relative inline-block">
        <svg
          viewBox="0 0 52 24"
          fill="currentColor"
          class="absolute top-0 right-0 z-0 hidden w-32 -mt-8 -mr-20 text-blue-gray-100 lg:w-32 lg:-mr-28 lg:-mt-10 sm:block"
        >
          <defs>
            <pattern
              id="247432cb-6e6c-4bec-9766-564ed7c230dc"
              x="0"
              y="0"
              width=".135"
              height=".30"
            >
              <circle cx="1" cy="1" r=".3"></circle>
            </pattern>
          </defs>
          <rect
            fill="url(#247432cb-6e6c-4bec-9766-564ed7c230dc)"
            width="52"
            height="24"></rect>
        </svg>
        <span class="relative">How to Get Involved</span>
      </span>
    </h2>
    <p class="md:text-lg mt-4">
      There are several ways to contribute your expertise and experience:
    </p>
  </div>
  <!-- heading end -->
  <div class="grid sm:grid-cols-1 lg:grid-cols-3 items-start gap-2">
    <!-- Icon Block -->
    <a
      class="group flex flex-col justify-center border border-transparent hover:border-black focus:outline-hidden rounded-xl p-4 md:p-7 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
      href="mailto:ux@bgs.ac.uk?subject=Co-Creation Toolkit Feedback"
    >
      <div
        class="flex justify-center items-center size-12 bg-bgs-2 rounded-xl"
      >
        <svg
          class="shrink-0 size-6 text-white"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M20 7h-9"></path><path d="M14 17H5"></path><circle
            cx="17"
            cy="17"
            r="3"></circle><circle cx="7" cy="7" r="3"></circle></svg
        >
      </div>
      <div class="mt-5">
        <h3
          class="text-lg font-semibold dark:text-white dark:group-hover:text-gray-400"
        >
          Email Us
        </h3>
        <p class="mt-1 dark:text-neutral-400">
          Have questions, feedback, or ideas you'd like to share directly? Reach
          out to our team at <b>ux@bgs.ac.uk. </b>
        </p>
        <span
          class="mt-2 inline-flex items-center gap-x-1.5 text-sm link-color decoration-2 group-hover:underline group-focus:underline font-medium"
        >
          Contact Us
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
          >
        </span>
      </div>
    </a>
    <!-- End Icon Block -->
    <!-- Icon Block -->
    <a
      class="group flex flex-col justify-center border border-transparent hover:border-black focus:outline-hidden rounded-xl p-4 md:p-7 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
      href="https://github.com/NERC-EDS/co-creation-toolkit/discussions"
    >
      <div
        class="flex justify-center items-center size-12 bg-bgs-2 rounded-xl"
      >
        <svg
          class="shrink-0 size-6 text-white"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path
            d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg
        >
      </div>
      <div class="mt-5">
        <h3
          class="text-lg font-semibold dark:text-white dark:group-hover:text-gray-400"
        >
          Join the Discussion on GitHub
        </h3>
        <p class="mt-1 dark:text-neutral-400">
          Connect with other creators, ask questions, suggest new topics, and
          participate in ongoing conversations on our GitHub Discussions page.
        </p>
        <span
          class="mt-2 inline-flex items-center gap-x-1.5 text-sm link-color decoration-2 group-hover:underline group-focus:underline font-medium"
        >
          GitHub Discussions
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
          >
        </span>
      </div>
    </a>
    <!-- End Icon Block -->
    <!-- Icon Block -->
    <a
      class="group flex flex-col justify-center border border-transparent hover:border-black focus:outline-hidden rounded-xl p-4 md:p-7 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
      href="https://github.com/NERC-EDS/co-creation-toolkit"
    >
      <div
        class="flex justify-center items-center size-12 bg-bgs-2 rounded-xl"
      >
        <svg
          class="shrink-0 size-6 text-white"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path
            d="M14 9a2 2 0 0 1-2 2H6l-4 4V4c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v5Z"
          ></path><path d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"
          ></path></svg
        >
      </div>
      <div class="mt-5">
        <h3
          class="text-lg font-semibold dark:text-white dark:group-hover:text-gray-400"
        >
          Contribute Directly
        </h3>
        <p class="mt-1 dark:text-neutral-400">
          Share your knowledge by adding new case studies or toolkit resources,
          or by improving existing ones.
        </p>
        <span
          class="mt-2 inline-flex items-center gap-x-1.5 text-sm link-color decoration-2 group-hover:underline group-focus:underline font-medium"
        >
          Edit Co-Creation Toolkit
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
          >
        </span>
      </div>
    </a>
    <!-- End Icon Block -->
  </div>
</div>
<!-- End Icon Blocks -->
