---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <header class="section-header stack gap-2 lg:gap-4 pb-8">
    <h3>Co-Creation Toolkit Resources</h3>
    <p>
      Explore our collection of helpful UX resources, including persona
      templates, interview guides, and product requirement documents.
    </p>
  </header >

    <!-- <a href="https://docs.google.com/spreadsheets/d/1FCnsYRAOuhx_vwVEAvKlX8sqdcZw0MkfE5RJpDO3fHQ/edit?usp=sharing" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-8">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-128 md:rounded-none md:rounded-s-lg" src="/co-creation-toolkit/assets/resources/personas.png" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">User Interview Template</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Download this user interview template to simplify preparation, note-taking, and analysis.</p>
        </div>
    </a> -->

    <a href="https://docs.google.com/spreadsheets/d/1FCnsYRAOuhx_vwVEAvKlX8sqdcZw0MkfE5RJpDO3fHQ/edit?usp=sharing" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-8">
        <img class="object-cover w-full rounded-t-lg h-72 md:h-auto md:w-96 md:rounded-none md:rounded-s-lg" src="/co-creation-toolkit/assets/resources/interview-template.png" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">User Interview Template</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">User interviews provide direct insights into the needs, pain points, and motivations of real users, helping create products and services that are truly user-centered. Download this user interview template to simplify preparation, note-taking, and analysis.</p>
        </div>
    </a>

    <a href="https://www.figma.com/file/0lA6cjXObrde3quzcN8ioz/Personas?type=design&node-id=1406%3A9518&mode=design&t=ffMdM76MsFLR1gEO-1" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-8">
        <img class="object-cover w-full rounded-t-lg h-72 md:h-auto md:w-96 md:rounded-none md:rounded-s-lg" src="/co-creation-toolkit/assets/resources/personas.png" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Personas</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Personas are fictional yet realistic profiles representing different types of users, created to guide design decisions and ensure solutions meet their needs and goals. Explore environmental data users better with our personas and download templates to create new personas.</p>
        </div>
    </a>

    <a href="https://loop.microsoft.com/p/eyJ3Ijp7InUiOiJodHRwczovL25lcmNhY3VrLnNoYXJlcG9pbnQuY29tLz9uYXY9Y3owbE1rWW1aRDFpSVVJeU5XVm1XbkkzVEd0bE0weFpiRU5HYm5aaU4xWjJVRlV3V1U1c1ptaENhalIxV1MxdFpUZFdRM1pwU1d4VlVqTktTMDVVYjBoV1NqRTJlVEpIV0VRbVpqMHdNVGRFVVRaYVRGaENWREkzTlUwM05FdE9Xa2hMVkZOUE5ETkdRa1ExUmtFMkptTTlKbVpzZFdsa1BURSUzRCIsInIiOmZhbHNlfSwicCI6eyJ1IjoiaHR0cHM6Ly9uZXJjYWN1ay5zaGFyZXBvaW50LmNvbS86Zmw6L3IvY29udGVudHN0b3JhZ2UvQ1NQXzdkNWU2ZTA3LWZiOWEtNDcyZS1iNzJkLTg5NDIxNjdiZGJlZC9Eb2N1bWVudCUyMExpYnJhcnkvTG9vcEFwcERhdGEvV2VsY29tZS5sb29wP2Q9dzRmYmNkYTI4NTNkNzRkNGNiMzVjMTU4MjFkMTFhMTMxJmNzZj0xJndlYj0xJm5hdj1jejBsTWtaamIyNTBaVzUwYzNSdmNtRm5aU1V5UmtOVFVGODNaRFZsTm1Vd055MW1ZamxoTFRRM01tVXRZamN5WkMwNE9UUXlNVFkzWW1SaVpXUW1aRDFpSVVJeU5XVm1XbkkzVEd0bE0weFpiRU5HYm5aaU4xWjJVRlV3V1U1c1ptaENhalIxV1MxdFpUZFdRM1pwU1d4VlVqTktTMDVVYjBoV1NqRTJlVEpIV0VRbVpqMHdNVGRFVVRaYVRGSkpNMHMyUlRkV01sUktVa2N6UjFoQlZsRkpUMUpFU1VwU0ptTTlKVEpHSm1ac2RXbGtQVEVtWVQxTWIyOXdRWEJ3Sm5BOUpUUXdabXgxYVdSNEpUSkdiRzl2Y0Mxd1lXZGxMV052Ym5SaGFXNWxjaVo0UFNVM1FpVXlNbmNsTWpJbE0wRWxNakpVTUZKVVZVaDRkVnBZU21wWlYwNHhZWGsxZW1GSFJubGFXRUoyWVZjMU1FeHRUblppV0hocFNWVkplVTVYVm0xWGJra3pWRWQwYkUwd2VGcGlSVTVIWW01YWFVNHhXakpWUmxWM1YxVTFjMXB0YUVOaGFsSXhWMU14ZEZwVVpGZFJNMXB3VTFkNFZsVnFUa3RUTURWVllqQm9WMU5xUlRKbFZFcElWMFZTT0UxRVJUTlNSa1V5VjJ0NFdWRnNVWGxPZWxaT1RucFNURlJzY0VsVE1WSlVWSHBSZWxKclNrVk9WVnBDVG1jbE0wUWxNMFFsTWpJbE1rTWxNakpwSlRJeUpUTkJKVEl5WVdRd09UVmlOall0T0dNd01DMDBNekU0TFRnek56TXRPV0ptTm1ZeU16VTFOelF5SlRJeUpUZEUiLCJyIjpmYWxzZX0sImkiOnsiaSI6ImFkMDk1YjY2LThjMDAtNDMxOC04MzczLTliZjZmMjM1NTc0MiJ9fQ%3D%3D?podId=T0RTUHxuZXJjYWN1ay5zaGFyZXBvaW50LmNvbXxiIUIyNWVmWnI3TGtlM0xZbENGbnZiN1Z2UFUwWU5sZmhCajR1WS1tZTdWQ3ZpSWxVUjNKS05Ub0hWSjE2eTJHWER8MDE3RFE2WkxYQlQyNzVNNzRLTlpIS1RTTzQzRkJENUZBNg%3D%3D" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-8">
        <img class="object-cover w-full rounded-t-lg h-72 md:h-auto md:w-96 md:rounded-none md:rounded-s-lg" src="/co-creation-toolkit/assets/resources/prd.png" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Product Requirements Document</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">A PRD outlines the required features and purpose of a product. Writing an effective PRD keeps teams aligned on their overall goals and ensures that users get a product they love. Use this template to help you get started.</p>
        </div>
    </a>




  
</section>
