<section class="box skills">
  <header class="section-header stack gap-2 lg:gap-4">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">
      Other Useful Resources
    </h2>
    <p>
      Below you can find some resources that can help you with the user research
      and design.
    </p>
  </header>

  <div class="ag-format-container">
    <div class="ag-courses_box">
      <!-- wireframes -->
      <div class="ag-courses_item">
        <a
          href="https://britishgeologicalsurvey.github.io/design-guide-for-geospatial-data-portals/#/main-content/introduction"
          class="ag-courses-item_link"
        >
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Wireframes and Design Guides for Geospatial Data Portals
          </div>

          <div class="ag-courses-item_date-box">
            Guidance for developers and designers to increase the
            discoverability and usefulness of geospatial data through
            user-focused data portals.
            <!-- <span class="ag-courses-item_date"> 04.11.2023</span> -->
          </div>
        </a>
      </div>

      <!-- DSTS -->
      <div class="ag-courses_item">
        <a
          href="https://drive.google.com/file/d/1HyczxRNE2pCbw3n1ayYcHkmghjvrATqc/view"
          class="ag-courses-item_link"
        >
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Best Practices for Decision Support Tools
          </div>

          <div class="ag-courses-item_date-box">
            Best practices and guidelines for creating effective decision
            support tools (DSTs).
            <!-- <span class="ag-courses-item_date"> 22.01.2024</span> -->
          </div>
        </a>
      </div>

      <!-- Personas -->
      <div class="ag-courses_item">
        <a
          href="https://britishgeologicalsurvey.github.io/ui-ux/personas/"
          class="ag-courses-item_link"
        >
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">Personas in Product Design</div>
          <div class="ag-courses-item_date-box">
            Personas are representations of user groups whom we expect to use
            our products. They help to convey information about the users to the
            product team.
            <!-- <span class="ag-courses-item_date"> 04.11.2023</span> -->
          </div>
        </a>
      </div>

      <!-- Turing Way -->
      <div class="ag-courses_item">
        <a
          href="https://book.the-turing-way.org/#"
          class="ag-courses-item_link"
        >
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">Turing Way Handbook</div>

          <div class="ag-courses-item_date-box">
            The Turing Way is a handbook to reproducible, ethical and
            collaborative data science.
            <!-- <span class="ag-courses-item_date"> 22.01.2024</span> -->
          </div>
        </a>
      </div>

      <!-- Nielsen Norman -->
      <div class="ag-courses_item">
        <a
          href="https://www.nngroup.com/"
          class="ag-courses-item_link"
        >
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">Nielsen Norman Group</div>

          <div class="ag-courses-item_date-box">
            The Nielsen Norman Group website is a valuable resource for UX
            professionals, offering guidance and training to improve the user
            experience of products through co-design.
            <!-- <span class="ag-courses-item_date"> 22.01.2024</span> -->
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .box {
    display: block;
  }

  .ag-format-container {
    width: 100%;
    /* margin: 0 auto; */
  }

  body {
    background-color: #000;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 32px;
    padding: 50px 0;
  }
  .ag-courses_item {
    /* -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px); */
    overflow: hidden;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
  }
  .ag-courses-item_link {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #fff;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #fff;

    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #fff;

    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }

  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }

  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;

      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
</style>
