<section class="box skills">
  <header class="section-header stack gap-2 lg:gap-4">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Other Useful Resources</h2>
    <p>
      Below you can find some resources that can help you with the user research
      and design.
    </p>
  </header>

  <div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a
          href="https://britishgeologicalsurvey.github.io/design-guide-for-geospatial-data-portals/#/main-content/introduction"
          class="ag-courses-item_link"
        >
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Wireframes and Design Guides for Geospatial Data Portals
          </div>

          <div class="ag-courses-item_date-box">
            Guidance for developers and designers to increase the
            discoverability and usefulness of geospatial data through
            user-focused data portals.
            <!-- <span class="ag-courses-item_date"> 04.11.2023</span> -->
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a
          href="http://digital-planning.glpages.ad.nerc.ac.uk/design-toolkit/"
          class="ag-courses-item_link"
        >
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">Digital Planning Toolkit</div>
          <div class="ag-courses-item_date-box">
            Resources, tools and guidance for using design thinking methods,
            conducting user research and planning/facilitating UX workshops and
            design sprints.
            <!-- <span class="ag-courses-item_date"> 04.11.2023</span> -->
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a
          href="http://handbooks.glpages.ad.nerc.ac.uk/best-practices-for-decision-support-tools/#/"
          class="ag-courses-item_link"
        >
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Best Practices for Decision Support Tools
          </div>

          <div class="ag-courses-item_date-box">
            Best practices and inspiration for Decision Support Tools (DSTs)
            <!-- <span class="ag-courses-item_date"> 22.01.2024</span> -->
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .box {
    display: block;
  }

  .ag-format-container {
    width: 100%;
    /* margin: 0 auto; */
  }

  body {
    background-color: #000;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 32px;

    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    /* margin: 0 15px 30px; */

    overflow: hidden;

    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;

    overflow: hidden;

    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #fff;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #fff;

    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #fff;

    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }

  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }

  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;

      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
</style>
