<section class="body-font overflow-hidden border-t border-gray-200">
  <header class="section-header stack gap-2 lg:gap-4 pt-32">
    <h3 class="">Our Services</h3>
    <p>
      Explore how our expertise can elevate your user experience from concept to
      completion.
    </p>
  </header>
  <div class="sm:flex sm:flex-col sm:align-center p-10">
    <div
      class="mt-12 space-y-3 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-6 md:max-w-5xl md:mx-auto xl:grid-cols-3"
    >
      <div
        class="border border-slate-200 rounded-lg shadow-sm divide-y divide-slate-200"
      >
        <div class="p-6">
          <img
            class="mx-auto pb-8"
            src="/co-creation-toolkit/assets/services-1.svg"
            alt="Person"
          />
          <h2 class="text-xl leading-6 font-bold">
            Essential Usability Insights
          </h2>
          <p class="mt-2 text-description leading-tight">
            Tailored for people embarking on new projects, providing them with
            an invaluable foundation through initial project discussions, goal
            alignment, quick usability tests for immediate enhancements, and
            expert consultation on user-centered design principles, ensuring a
            user-friendly and purpose-driven approach from the start.
          </p>
        </div>
        <div class="pt-6 pb-8 px-6">
          <h3 class="text-sm font-bold tracking-wide uppercase">
            What's included
          </h3>
          <ul role="list" class="mt-4 space-y-3">
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >Initial project discussion and goal alignment</span
              >
            </li>
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >Quick usability tests to identify immediate improvements</span
              >
            </li>
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >Consultation on user-centered design principles</span
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="border border-slate-200 rounded-lg shadow-sm divide-y divide-slate-200"
      >
        <div class="p-6">
          <img
            class="mx-auto pb-8"
            src="/co-creation-toolkit/assets/services-2.svg"
            alt="Person"
          />
          <h2 class="text-xl leading-6 font-bold">In-depth Design Guidance</h2>
          <p class="mt-2 text-description leading-tight">
            Designed for those seeking a profound user understanding, this
            service employs interviews, surveys, and persona creation, along
            with iterative design through prototyping and testing. Culminating
            in comprehensive usability assessments, it ensures your project
            develops user-centric products and experiences.
          </p>
        </div>
        <div class="pt-6 pb-8 px-6">
          <h3 class="text-sm font-bold tracking-wide uppercase">
            What's included
          </h3>
          <ul role="list" class="mt-4 space-y-3">
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base">All Essential Services</span>
            </li>
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >User interviews and surveys for profound insights</span
              >
            </li>
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >Creation of user personas and journey maps</span
              >
            </li>
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >Prototyping with usability testing for iterative design</span
              >
            </li>
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >Comprehensive usability assessments through heuristic
                evaluations</span
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="border border-slate-200 rounded-lg shadow-sm divide-y divide-slate-200"
      >
        <div class="p-6">
          <img
            class="mx-auto pb-8"
            src="/co-creation-toolkit/assets/services-3.svg"
            alt="Person"
          />
          <h2 class="text-xl leading-6 font-bold">
            Design Sprint and Development Collaboration
          </h2>
          <p class="mt-2 text-description leading-tight">
            Perfect for projects seeking a smooth journey from ideation to
            execution. This service provides design sprint facilitation,
            high-fidelity prototyping with user testing, developer
            collaborationand detailed design specifications. Ensures a seamless,
            collaborative process for successful, user-approved solutions.
          </p>
        </div>
        <div class="pt-6 pb-8 px-6">
          <h3 class="text-sm font-bold tracking-wide uppercase">
            What's included
          </h3>
          <ul role="list" class="mt-4 space-y-3">
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base">All Essential and In-depth Services</span>
            </li>
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >Planning and facilitation of design sprints for quick ideation</span
              >
            </li>
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >Close collaboration with developers during implementation</span
              >
              <li class="flex space-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="flex-shrink-0 h-5 w-5 text-green-400"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  aria-hidden="true"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="text-base"
                  >High-fidelity prototyping and user testing</span
                >
              </li>
            </li>
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >Detailed design specifications for a smooth handover</span
              >
            </li>
            <li class="flex space-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-5 w-5 text-green-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              <span class="text-base"
                >Ongoing support for user acceptance testing and post-launch
                refinements.</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .text-description {
    color: var(--gray-200);
  }
  .text-base {
    color: var(--gray-400);
  }
</style>
