---
import Icon from './Icon.astro';
---

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
	<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
	  <div>
		<p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
		  Analysis and Design
		</p>
	  </div>
	  <h3 class="">
		<span class="relative inline-block">
		  <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
			<defs>
			  <pattern id="247432cb-6e6c-4bec-9766-564ed7c230dc" x="0" y="0" width=".135" height=".30">
				<circle cx="1" cy="1" r=".3"></circle>
			  </pattern>
			</defs>
			<rect fill="url(#247432cb-6e6c-4bec-9766-564ed7c230dc)" width="52" height="24"></rect>
		  </svg>
		  <span class="relative">Our</span>
		</span>
		Team
	  </h3>
	  <p class="md:text-lg mt-4">
		Welcome to our UX team, where we expertly navigate through user research, design wireframes and prototypes, and compile insightful reports, ensuring every digital experience we craft is a harmonious blend of creativity and functionality.
	  </p>
	</div>
	<div class="grid row-gap-8 gap-x-32 gap-y-10 mx-auto sm:row-gap-10 lg:max-w-screen-lg sm:grid-cols-2 lg:grid-cols-3">
	  <div class="flex">
		<img class="object-cover w-20 h-20 mr-4 rounded-full shadow" src="/co-creation-toolkit/assets/cw-avatar.png" alt="Person" />
		<div class="flex flex-col justify-center">
		  <p class="text-lg font-bold">Carl Watson</p>
		  <p class="text-sm">Head of UX</p>
		</div>
	  </div>
	  <div class="flex">
		<img class="object-cover w-20 h-20 mr-4 rounded-full shadow" src="/co-creation-toolkit/assets/pt-avatar.png" alt="Person" />
		<div class="flex flex-col justify-center">
		  <p class="text-lg font-bold">Paulius Tvaranavicius</p>
		  <p class="text-sm">UX Designer</p>
		</div>
	  </div>
	  <div class="flex">
		<img class="object-cover w-20 h-20 mr-4 rounded-full shadow" src="/co-creation-toolkit/assets/sr-avatar.png" alt="Person" />
		<div class="flex flex-col justify-center">
		  <p class="text-lg font-bold">Shwetha Raveendran</p>
		  <p class="text-sm">UX Designer</p>
		</div>
	  </div>
	</div>
  </div>
